.layout {
  padding: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.header {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

h1 {
  margin: 0;
}
