.layout {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.mainHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.socials {
  width: 100%;
  max-width: 640px;
  display: flex;
  justify-content: space-between;
  padding: 0 32px;

  img {
    width: 44px;
    height: 44px;
    &:hover {
      cursor: pointer;
    }
  }
}

.logo {
  border-radius: 50%;
  width: 164px;
  height: 164px;
}

body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
